<!DOCTYPE html>
<html lang="en">
<head>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KTMNTPV3');</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Stay rare | Terms & Conditions</title>
  <link rel="shortcut icon" href="images/stayrare/fav.png" type="image/x-icon">

            <script>
        WebFontConfig = {
            google: { families: ['Poppins:400,500,600,700,800'] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[0];
            wf.src = '/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

  <link rel="preconnect" href="https://fonts.gstatic.com/">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Allura&amp;display=swap" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/plugins/swiper.min.css" type="text/css">
  <link rel="stylesheet" href="css/plugins/jquery.fancybox.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" type="text/css" href="/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.min.css">

    <!-- Plugin CSS -->


    <!-- Default CSS -->

 <style>
        :root {
            --theme-color: #001F3F;
            --background-color: white;
        }
        
        .terms-conditions-wrapper {
            max-width: 1200px;
            margin: 0 auto;
  
       
            line-height: 1.6;
            color: var(--theme-color);
            background-color: var(--background-color);
        }
        
        .terms-conditions-title {
            text-align: center;
            margin-bottom: 60px;
            border-bottom: 3px solid var(--theme-color);
            padding-bottom: 30px;
        }
        
        .terms-conditions-main-heading {
          font-size: 3.5rem;
            font-weight: 400;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 20px;
            color: var(--theme-color);
        }
        
        .terms-conditions-company-name {
            font-size: 2.4rem;
            font-style: italic;
            margin-bottom: 15px;
            color: var(--theme-color);
            opacity: 0.9;
        }
        
        .terms-conditions-updated {
            font-style: italic;
            font-size: 1.1rem;
            color: var(--theme-color);
            opacity: 0.8;
        }
        
        .terms-conditions-section {
            margin-bottom: 50px;
        }
        
        .terms-conditions-section-title {
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: 25px;
            color: var(--theme-color);
            border-left: 5px solid var(--theme-color);
            padding-left: 20px;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        
        .terms-conditions-subsection-title {
               font-size: 2rem;
            font-weight: 500;
            margin: 30px 0 15px 0;
            color: var(--theme-color);
            text-transform: capitalize;
        }
        
        .terms-conditions-text {
            font-size: 1.5rem;
            margin-bottom: 20px;
            text-align: justify;
            line-height: 1.8;
        }
        
        .terms-conditions-list {
            margin: 20px 0;
            padding-left: 40px;
        }
        
        .terms-conditions-list-item {
            font-size: 1.5rem;
            margin-bottom: 12px;
            line-height: 1.7;
        }
        
        .terms-conditions-contact-box {
            background-color: #f8f9fa;
            border: 2px solid var(--theme-color);
            border-radius: 8px;
            padding: 30px;
            margin: 40px 0;
            text-align: center;
        }
        
        .terms-conditions-contact-title {
            margin-bottom: 20px;
            font-size: 1.5rem;
            color: var(--theme-color);
        }
        
        .terms-conditions-contact-text {
            margin-bottom: 10px;
            font-size: 1.1rem;
        }
        
        .terms-conditions-highlight-box {
            background-color: #f0f4f8;
            border-left: 4px solid var(--theme-color);
            padding: 20px;
            margin: 25px 0;
            border-radius: 0 8px 8px 0;
        }
        
        .terms-conditions-warning-box {
            background-color: #fff8e1;
            border: 2px solid #ffa726;
            border-radius: 8px;
            padding: 20px;
            margin: 25px 0;
        }
        
        .terms-conditions-footer-note {
            border-top: 3px solid var(--theme-color);
            padding-top: 30px;
            text-align: center;
            margin-top: 60px;
        }
        
        .terms-conditions-footer-text {
            font-style: italic;
            font-size: 1rem;
            opacity: 0.8;
        }
        
        .terms-conditions-numbered-list {
            counter-reset: section-counter;
            list-style: none;
            padding-left: 0;
        }
        
        .terms-conditions-numbered-item {
            counter-increment: section-counter;
            margin-bottom: 15px;
            font-size: 1.1rem;
            line-height: 1.7;
        }
        
        .terms-conditions-numbered-item::before {
            content: counter(section-counter) ". ";
            font-weight: bold;
            color: var(--theme-color);
        }
        
        @media (max-width: 768px) {
            .terms-conditions-wrapper {
                padding: 40px 20px;
            }
            
            .terms-conditions-main-heading {
                font-size: 2rem;
            }
            
            .terms-conditions-section-title {
                font-size: 1.5rem;
            }
            
            .terms-conditions-text,
            .terms-conditions-list-item {
                font-size: 1rem;
            }
        }
    </style>
</head>
<body>
    <div class="page-wrapper">
          <div class="header-mobile header_sticky">
    <div class="container d-flex align-items-center h-100">
      <a class="mobile-nav-activator d-block position-relative" href="#">
        <svg class="nav-icon" width="25" height="18" viewBox="0 0 25 18" xmlns="http://www.w3.org/2000/svg">
          <use href="#icon_nav" />
        </svg>
        <span class="btn-close-lg position-absolute top-0 start-0 w-100"></span>
      </a>

      <div class="logo">
        <a href="/">
        <a href="/">
          <img src="images/stayrare/logo.png" alt="Uomo" class="logo__image d-block">
        </a>
      </div><!-- /.logo -->

      <a href="#" class="header-tools__item header-tools__cart js-open-aside" data-aside="cartDrawer">
        <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <use href="#icon_cart" />
        </svg>
        <span class="cart-amount d-block position-absolute js-cart-items-count">3</span>
      </a>
    </div><!-- /.container -->

    <nav
      class="header-mobile__navigation navigation d-flex flex-column w-100 position-absolute top-100 bg-body overflow-auto">


      <div class="container">
        <div class="overflow-hidden">
          <ul class="navigation__list list-unstyled position-relative">
            <li class="navigation__item">
              <a href="/" class="navigation__link js-nav-right d-flex align-items-center">Home</a>

            </li>
            <li class="navigation__item">
              <a href="" class="navigation__link js-nav-right d-flex align-items-center">Store
                <svg class="ms-auto" width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg">
                  <use href="#icon_next_sm" />
                </svg>
              </a>
              <div class="sub-menu position-absolute top-0 start-100 w-100 d-none">
                <a href="#" class="navigation__link js-nav-left d-flex align-items-center border-bottom mb-3">
                  <svg class="me-2" width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg">
                    <use href="#icon_prev_sm" />
                  </svg>
                  Store
                </a>
                <div class="sub-menu__wrapper">
                  <% if (typeof categories !== 'undefined' && categories.length) { %>
                    <% categories.forEach(function(category) { %>
                      <a href="/store?category=<%= category._id %>" class="navigation__link js-nav-right d-flex align-items-center">
                        <%= category.name %>
                        <% if (category.activeSubCategories && category.activeSubCategories.length) { %>
                          <svg class="ms-auto" width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg">
                            <use href="#icon_next_sm" />
                          </svg>
                        <% } %>
                      </a>
                      <% if (category.activeSubCategories && category.activeSubCategories.length) { %>
                        <div class="sub-menu__wrapper position-absolute top-0 start-100 w-100 d-none">
                          <a href="/store?category=<%= category._id %>" class="navigation__link js-nav-left d-flex align-items-center border-bottom mb-2">
                            <svg class="me-2" width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg">
                              <use href="#icon_prev_sm" />
                            </svg>
                            <%= category.name %>
                          </a>
                          <ul class="sub-menu__list list-unstyled">
                            <% category.activeSubCategories.forEach(function(subcat) { %>
                              <li class="sub-menu__item">
                                <a href="/store?category=<%= category._id %>&subcategory=<%= subcat._id %>" class="menu-link menu-link_us-s">
                                  <%= subcat.name %>
                                </a>
                              </li>
                            <% }); %>
                          </ul>
                        </div>
                      <% } %>
                    <% }); %>
                  <% } else { %>
                    <span class="menu-link menu-link_us-s text-muted">No categories</span>
                  <% } %>
                </div>
              </div>
            </li>

            <li class="navigation__item">
              <a href="/about" class="navigation__link">About</a>
            </li>
            </li>
            <li class="navigation__item">
              <a href="/blogs" class="navigation__link">blogs</a>
            </li>







            <li class="navigation__item">
              <a href="/contact" class="navigation__link">Contact</a>
            </li>

          </ul><!-- /.navigation__list -->
        </div><!-- /.overflow-hidden -->
      </div><!-- /.container -->

      <div class="border-top mt-auto pb-2">
        <a href="">
          <a href="<%= user ? '/account' : '/auth/login' %>">
            <div class="customer-links container  mt-4 mb-2 pb-1">
              <svg class="d-inline-block align-middle" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <use href="#icon_user" />
              </svg>
              <span class="d-inline-block ms-2 text-uppercase align-middle fw-medium">My Account</span>
            </div>
          </a>





          <ul class="container social-links d-flex justify-content-around list-unstyled d-flex flex-wrap mb-0">
            <li>
              <a href="https://www.facebook.com/" class="footer__social-link d-block ps-0">
                <svg class="svg-icon svg-icon_facebook" width="9" height="15" viewBox="0 0 9 15"
                  xmlns="http://www.w3.org/2000/svg">
                  <use href="#icon_facebook" />
                </svg>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/" class="footer__social-link d-block">
                <svg class="svg-icon svg-icon_x" width="14" height="13" viewBox="0 0 1200 1227"
                  xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                  <path
                    d="M 880 0 L 585 455 L 290 0 H 0 L 425 623 L 0 1227 H 290 L 585 772 L 880 1227 H 1170 L 745 623 L 1170 0 Z" />
                </svg>

              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/" class="footer__social-link d-block">
                <svg class="svg-icon svg-icon_instagram" width="14" height="13" viewBox="0 0 14 13"
                  xmlns="http://www.w3.org/2000/svg">
                  <use href="#icon_instagram" />
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/" class="footer__social-link d-block">
                <svg class="svg-icon svg-icon_youtube" width="16" height="11" viewBox="0 0 16 11"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M15.0117 1.8584C14.8477 1.20215 14.3281 0.682617 13.6992 0.518555C12.5234 0.19043 7.875 0.19043 7.875 0.19043C7.875 0.19043 3.19922 0.19043 2.02344 0.518555C1.39453 0.682617 0.875 1.20215 0.710938 1.8584C0.382812 3.00684 0.382812 5.46777 0.382812 5.46777C0.382812 5.46777 0.382812 7.90137 0.710938 9.07715C0.875 9.7334 1.39453 10.2256 2.02344 10.3896C3.19922 10.6904 7.875 10.6904 7.875 10.6904C7.875 10.6904 12.5234 10.6904 13.6992 10.3896C14.3281 10.2256 14.8477 9.7334 15.0117 9.07715C15.3398 7.90137 15.3398 5.46777 15.3398 5.46777C15.3398 5.46777 15.3398 3.00684 15.0117 1.8584ZM6.34375 7.68262V3.25293L10.2266 5.46777L6.34375 7.68262Z" />
                </svg>
              </a>
            </li>
            <li>
              <a href="https://www.pinterest.com/" class="footer__social-link d-block">
                <svg class="svg-icon svg-icon_pinterest" width="14" height="15" viewBox="0 0 14 15"
                  xmlns="http://www.w3.org/2000/svg">
                  <use href="#icon_pinterest" />
                </svg>
              </a>
            </li>
          </ul>
      </div>
    </nav><!-- /.navigation -->
  </div><!-- /.header-mobile -->
    <header id="header" class="header header-fullwidth header-transparent-bg">
    <div class="header-top d-flex top-hdr color-white align-items-center">
      <ul class="list-unstyled d-flex flex-1 gap-3 m-0">
        <li><a href="/account" class="menu-link menu-link_us-s color-white">Shipping</a></li>
        <li><a href="/account" class="menu-link menu-link_us-s color-white"> Orders</a></li>
      </ul>

      <!-- Marquee Container with more width, catchy sentence, and infinite loop -->
      <div class="marquee-container mx-auto flex-grow-1"
        style="min-width:0; flex-basis:50%; max-width:1100px; overflow:hidden;">
        <div class="marquee-track" style="white-space:nowrap; animation: marqueeLoop 28s linear infinite;">
          <div class="marquee-content d-inline-block" style="white-space:nowrap;">
            <span class="fw-bold text-warning" style="margin-right:2.5rem;">WELCOME TO STAY RARE</span>
            <span class="fw-bold text-warning" style="margin-right:2.5rem;">LOGIN FOR 10% OFF</span>
            <span class="fw-bold text-warning" style="margin-right:2.5rem;"> Unleash Your Style – New Arrivals Just
              Dropped! </span>
            <span class="fw-bold text-warning" style="margin-right:2.5rem;">FREE SHIPPING ON ORDERS OVER ₹999</span>
            <!-- Repeat for seamless loop -->
            <span class="fw-bold text-warning" style="margin-right:2.5rem;">WELCOME TO STAY RARE</span>
            <span class="fw-bold text-warning" style="margin-right:2.5rem;">LOGIN FOR 10% OFF</span>
            <span class="fw-bold text-warning" style="margin-right:2.5rem;"> Unleash Your Style – New Arrivals Just
              Dropped!</span>
            <span class="fw-bold text-warning" style="margin-right:2.5rem;">FREE SHIPPING ON ORDERS OVER ₹999</span>
          </div>
        </div>
        <style>
          @keyframes marqueeLoop {
            0% {
              transform: translateX(0);
            }

            100% {
              transform: translateX(-50%);
            }
          }

          @media (max-width: 768px) {
            .marquee-container {
              max-width: 100vw !important;
              flex-basis: 100% !important;
            }
          }
        </style>
      </div>

      <div class="heeader-top__right flex-1 d-flex gap-1 justify-content-end">
        <ul class="social-links list-unstyled d-flex flex-wrap mb-0">
          <li>
            <a href="#" class="footer__social-link d-block color-white">
              <svg class="svg-icon svg-icon_facebook" width="9" height="15" viewBox="0 0 9 15"
                xmlns="http://www.w3.org/2000/svg">
                <use href="#icon_facebook" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="footer__social-link d-block color-white">
              <svg class="svg-icon svg-icon_x" width="14" height="13" viewBox="0 0 1200 1227"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path
                  d="M 880 0 L 585 455 L 290 0 H 0 L 425 623 L 0 1227 H 290 L 585 772 L 880 1227 H 1170 L 745 623 L 1170 0 Z" />
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="footer__social-link d-block color-white">
              <svg class="svg-icon svg-icon_instagram" width="14" height="13" viewBox="0 0 14 13"
                xmlns="http://www.w3.org/2000/svg">
                <use href="#icon_instagram" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-desk header-desk_type_2">
      <nav class="navigation d-flex">


        <ul class="navigation__list list-unstyled d-flex">
          <li class="navigation__item">
            <a href="/" class="navigation__link">Home</a>

          </li>
          <li class="navigation__item">
            <a href="/store" class="navigation__link">Store</a>
            <ul class="default-menu list-unstyled">
              <% if (typeof categories !== 'undefined' && categories.length) { %>
                <% categories.forEach(function(category) { %>
                  <li class="sub-menu__item position-relative">
                    <a href="/store?category=<%= category._id %>" class="menu-link menu-link_us-s">
                      <%= category.name %>
                    </a>
                    <% if (category.activeSubCategories && category.activeSubCategories.length) { %>
                      <ul class="sub-menu list-unstyled position-absolute start-100 top-0 ms-2">
                        <% category.activeSubCategories.forEach(function(subcat) { %>
                          <li>
                            <a href="/store?category=<%= category._id %>&subcategory=<%= subcat._id %>" class="menu-link menu-link_us-s">
                              <%= subcat.name %>
                            </a>
                          </li>
                        <% }); %>
                      </ul>
                    <% } %>
                  </li>
                <% }); %>
              <% } else { %>
                <li class="sub-menu__item"><span class="menu-link menu-link_us-s text-muted">No categories</span></li>
              <% } %>
            </ul><!-- /.box-menu -->
          </li>
          <li class="navigation__item">
            <a href="/about" class="navigation__link">About</a>
          </li>



          <li class="navigation__item">
            <a href="/blogs" class="navigation__link">Blog</a>

          </li>
          <li class="navigation__item">
            <a href="/contact" class="navigation__link">Contact</a>
          </li>
        </ul><!-- /.navigation__list -->
      </nav><!-- /.navigation -->

      <div class="logo">
        <a href="/">
          <img src="images/stayrare/logo.png" alt="Stayrare" class="logo__image d-block">
        </a>
      </div><!-- /.logo -->

      <div class="header-tools d-flex align-items-center">
        <div class="header-tools__item hover-container">
          <div class="js-hover__open position-relative">
            <a class="js-search-popup search-field__actor" href="#">
              <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <use href="#icon_search" />
              </svg>
              <i class="btn-icon btn-close-lg"></i>
            </a>
          </div>

          <div class="search-popup js-hidden-content">
            <form action="https://uomo-html.flexkitux.com/Demo2/search_result.html" method="GET"
              class="search-field container">
              <p class="text-uppercase text-secondary fw-medium mb-4">What are you looking for?</p>
              <div class="position-relative">
                <input class="search-field__input search-popup__input w-100 fw-medium" type="text" name="search-keyword"
                  placeholder="Search products">
                <button class="btn-icon search-popup__submit" type="submit">
                  <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <use href="#icon_search" />
                  </svg>
                </button>
                <button class="btn-icon btn-close-lg search-popup__reset" type="reset"></button>
              </div>

              <div class="search-popup__results">
                <div class="sub-menu search-suggestion">
                  <h6 class="sub-menu__title fs-base">Quicklinks</h6>
                  <ul class="sub-menu__list list-unstyled">
                    <li class="sub-menu__item"><a href="/store" class="menu-link menu-link_us-s">New Arrivals</a>
                    </li>
                    <li class="sub-menu__item"><a href="/store" class="menu-link menu-link_us-s">Dresses</a></li>
                    <li class="sub-menu__item"><a href="/store" class="menu-link menu-link_us-s">Accessories</a></li>
                    <li class="sub-menu__item"><a href="/store" class="menu-link menu-link_us-s">Footwear</a></li>
                    <li class="sub-menu__item"><a href="/store" class="menu-link menu-link_us-s">Sweatshirt</a></li>
                  </ul>
                </div>

                <div class="search-result row row-cols-5"></div>
              </div>
            </form><!-- /.header-search -->
          </div><!-- /.search-popup -->
        </div><!-- /.header-tools__item hover-container -->

        <div class="header-tools__item hover-container">
          <a class="" href="<%= user ? '/account' : '/auth/login' %>" data-aside="customerForms">
            <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <use href="#icon_user" />
            </svg>
          </a>
        </div>

        <a class="header-tools__item" href="wishlist.html">
          <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <use href="#icon_heart" />
          </svg>
        </a>

        <a href="#" class="header-tools__item header-tools__cart js-open-aside" data-aside="cartDrawer">
          <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <use href="#icon_cart" />
          </svg>
          <span class="cart-amount d-block position-absolute js-cart-items-count">3</span>
        </a>
      </div><!-- /.header__tools -->
    </div><!-- /.header-desk header-desk_type_2 -->
  </header>
  <div class="terms-conditions-wrapper">
        <div class="terms-conditions-title">
            <h1 class="terms-conditions-main-heading">Terms and Conditions</h1>
           
         
        </div>

        <div class="terms-conditions-section">
            <h2 class="terms-conditions-section-title">Agreement to Terms</h2>
            <p class="terms-conditions-text">
                Welcome to Hofmaan, your premier destination for luxury leather goods including bags, shoes, sandals, and accessories. By accessing and using our website, products, or services, you acknowledge that you have read, understood, and agree to be bound by these Terms and Conditions. If you do not agree with any part of these terms, please do not use our services.
            </p>
            <div class="terms-conditions-highlight-box">
                <p class="terms-conditions-text">
                    These terms constitute a legally binding agreement between you and Hofmaan. Your continued use of our services indicates your acceptance of these terms and any future modifications.
                </p>
            </div>
        </div>

        <div class="terms-conditions-section">
            <h2 class="terms-conditions-section-title">Product Information</h2>
            <h3 class="terms-conditions-subsection-title">Our Products</h3>
            <p class="terms-conditions-text">
                Hofmaan specializes in premium leather goods crafted with the finest materials and traditional techniques. Our product range includes:
            </p>
            <ul class="terms-conditions-list">
                <li class="terms-conditions-list-item">Leather handbags, purses, and wallets</li>
                <li class="terms-conditions-list-item">Men's and women's leather shoes</li>
                <li class="terms-conditions-list-item">Sandals and casual leather footwear</li>
                <li class="terms-conditions-list-item">Leather accessories and gift items</li>
            </ul>

            <h3 class="terms-conditions-subsection-title">Product Accuracy</h3>
            <p class="terms-conditions-text">
                We strive to provide accurate product descriptions, images, and specifications. However, we do not warrant that product descriptions or other content is accurate, complete, reliable, or error-free. Colors may vary due to monitor settings and leather's natural variations.
            </p>
        </div>

        <div class="terms-conditions-section">
            <h2 class="terms-conditions-section-title">Orders and Payment</h2>
            <h3 class="terms-conditions-subsection-title">Order Acceptance</h3>
            <p class="terms-conditions-text">
                All orders are subject to acceptance and availability. We reserve the right to refuse or cancel any order for any reason, including but not limited to product availability, errors in pricing, or suspected fraudulent activity.
            </p>

            <h3 class="terms-conditions-subsection-title">Payment Methods</h3>
            <p class="terms-conditions-text">
                We accept various payment methods as displayed at checkout. Payment must be received in full before order processing. All prices are in the currency specified on our website and include applicable taxes unless otherwise stated.
            </p>

            <h3 class="terms-conditions-subsection-title">Pricing</h3>
            <p class="terms-conditions-text">
                Prices are subject to change without notice. In the event of a pricing error, we will contact you before processing your order. You may choose to proceed at the correct price or cancel your order.
            </p>
        </div>

        <div class="terms-conditions-section">
            <h2 class="terms-conditions-section-title">Shipping and Delivery</h2>
            <p class="terms-conditions-text">
                We offer various shipping options to accommodate your needs. Delivery times are estimates and may vary based on location, weather conditions, and carrier delays. Risk of loss passes to you upon delivery to the carrier.
            </p>
            <ul class="terms-conditions-list">
                <li class="terms-conditions-list-item">Standard shipping: 5-7 business days</li>
            </ul>
        </div>

        <div class="terms-conditions-section">
            <h2 class="terms-conditions-section-title">Returns and Exchanges</h2>
            <div class="terms-conditions-warning-box">
                <p class="terms-conditions-text">
                    <strong>Important:</strong> Please review our return policy carefully before making a purchase. Custom or personalized items cannot be returned.
                </p>
            </div>

            <h3 class="terms-conditions-subsection-title">Return Policy</h3>
            <p class="terms-conditions-text">
                You may return unused items in original condition within 7 days of delivery. Items must be in original packaging with all tags attached. The following items are not eligible for return:
            </p>
            <ul class="terms-conditions-list">
                <li class="terms-conditions-list-item">Items showing signs of wear or damage</li>
                <li class="terms-conditions-list-item">Items without original packaging or tags</li>
                <li class="terms-conditions-list-item">Sale or clearance items (unless defective)</li>
            </ul>
        </div>

        <div class="terms-conditions-section">
            <h2 class="terms-conditions-section-title">Product Care</h2>
            <h3 class="terms-conditions-subsection-title">Leather Care</h3>
            <p class="terms-conditions-text">
                Leather is a natural material that requires proper care to maintain its beauty and longevity. We provide care instructions with each product and recommend regular maintenance to preserve your investment.
            </p>
        </div>

        <div class="terms-conditions-section">
            <h2 class="terms-conditions-section-title">Intellectual Property</h2>
            <p class="terms-conditions-text">
                All content on our website, including designs, logos, text, images, and the Hofmaan brand name, are protected by intellectual property laws. You may not use, reproduce, or distribute our content without written permission.
            </p>
        </div>

        <div class="terms-conditions-section">
            <h2 class="terms-conditions-section-title">User Conduct</h2>
            <p class="terms-conditions-text">
                When using our website or services, you agree to:
            </p>
            <ol class="terms-conditions-numbered-list">
                <li class="terms-conditions-numbered-item">Provide accurate and truthful information</li>
                <li class="terms-conditions-numbered-item">Use our services only for lawful purposes</li>
                <li class="terms-conditions-numbered-item">Respect the intellectual property rights of others</li>
                <li class="terms-conditions-numbered-item">Not engage in fraudulent or harmful activities</li>
                <li class="terms-conditions-numbered-item">Comply with all applicable laws and regulations</li>
            </ol>
        </div>

        <div class="terms-conditions-section">
            <h2 class="terms-conditions-section-title">Limitation of Liability</h2>
            <p class="terms-conditions-text">
                To the fullest extent permitted by law, Hofmaan shall not be liable for any indirect, incidental, special, consequential, or punitive damages arising from your use of our products or services. Our total liability shall not exceed the amount paid for the specific product or service.
            </p>
        </div>

        <div class="terms-conditions-section">
            <h2 class="terms-conditions-section-title">Privacy and Data Protection</h2>
            <p class="terms-conditions-text">
                Your privacy is important to us. Our collection and use of personal information is governed by our Privacy Policy, which is incorporated into these Terms and Conditions by reference.
            </p>
        </div>

        <div class="terms-conditions-section">
            <h2 class="terms-conditions-section-title">Modifications to Terms</h2>
            <p class="terms-conditions-text">
                We reserve the right to modify these Terms and Conditions at any time. Changes will be effective immediately upon posting on our website. Your continued use of our services after any modifications constitutes acceptance of the updated terms.
            </p>
        </div>

        <div class="terms-conditions-section">
            <h2 class="terms-conditions-section-title">Governing Law</h2>
            <p class="terms-conditions-text">
                These Terms and Conditions are governed by and construed in accordance with applicable laws. Any disputes arising from these terms or your use of our services shall be resolved through binding arbitration.
            </p>
        </div>

        <div class="terms-conditions-section">
            <h2 class="terms-conditions-section-title">Support Center</h2>
            <p class="terms-conditions-text">
                Our dedicated support team is available to assist you with any questions or concerns. We strive to provide excellent customer service and prompt resolution of any issues.
            </p>
        </div>

   

        <div class="terms-conditions-footer-note">
            <p class="terms-conditions-footer-text">
                These Terms and Conditions are effective as of the date stated above and govern your use of Hofmaan products and services.
            </p>
        </div>
    </div>
  <footer class="footer-mobile container w-100 px-5 d-md-none bg-body">
    <div class="row text-center">
      <div class="col-3">
        <a href="/" class="footer-mobile__link d-flex flex-column align-items-center">
          <svg class="d-block" width="18" height="18" viewBox="0 0 18 18" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <use href="#icon_home" />
          </svg>
          <span>Home</span>
        </a>
      </div><!-- /.col-3 -->

      <div class="col-3">
        <a href="/store" class="footer-mobile__link d-flex flex-column align-items-center">
          <svg class="d-block" width="18" height="18" viewBox="0 0 18 18" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <use href="#icon_hanger" />
          </svg>
          <span>Shop</span>
        </a>
      </div><!-- /.col-3 -->

      <div class="col-3">
        <a href="wishlist.html" class="footer-mobile__link d-flex flex-column align-items-center">
          <div class="position-relative">
            <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <use href="#icon_cart" />
            </svg>
            <span class="wishlist-amount d-block position-absolute js-wishlist-count">3</span>
          </div>
          <span>Cart</span>
        </a>
      </div><!-- /.col-3 -->
      <div class="col-3">
        <a href="account.html" class="footer-mobile__link d-flex flex-column align-items-center">
          <div class="position-relative">
            <svg class="d-block" width="20" height="20" viewBox="0 0 20 20" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <use href="#icon_user" />
            </svg>
          </div>
          <span>Account</span>
        </a>
      </div><!-- /.col-3 -->
    </div><!-- /.row -->
  </footer>

    </div>

  <div id="scrollTop" class="visually-hidden end-0"></div>
 
  <script src="js/plugins/jquery.min.js"></script>
  <script src="js/plugins/bootstrap.bundle.min.js"></script>
  <script src="js/plugins/bootstrap-slider.min.js"></script>

  <script src="js/plugins/swiper.min.js"></script>
  <script src="js/plugins/countdown.js"></script>

  <!-- Footer Scripts -->
  <script src="js/theme.js"></script>


    

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery.count-to/jquery.count-to.min.js"></script>
    <script src="/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/js/main.min.js"></script>
          <script src="/js/script.js"></script>
</body>
</html>